body {
	background-color: black;
}
html, body {
    margin: 0;
    padding: 0;
}

#content {

}

.content1 {
  height: 400px;
  /*background-color: #00303D;*/
  position: fixed;
  left: 50%;
  top: 50%;
  /*border-radius: 10px;*/
  /*box-shadow: 5px 5px 3px #00242E;*/
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.content2 {
  height: 400px;
  background-image: url("../image.JPG");
  background-repeat: no-repeat;
  /*background-color: red;*/
  position: fixed;
  left: 50%;
  top: 50%;
  /*border-radius: 10px;*/
  /*box-shadow: 5px 5px 3px #00242E;*/
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
input[type="text"], textarea {

  background-color : black; 

}

input[type="text"], textarea {

  background-color : black; 

}

input[type="text"] {
	border: black;
	color: lime;
}

input[type="text"]:focus {
	background-color: black;
	color: lime;
}


form {
	/*background-color: red;*/
	position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
button {
}